@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$darkgrey: #121212
$white-fade: rgba(255,255,255,0.2)


$max: 100%


html, body
  height: $max
  width: $max

html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

body
  background: $darkgrey
  font-family: 'Montserrat', sans-serif

  form
    background: $white-fade
